Architecture: iphoneos-arm
Author: dubs
Depiction: https://dubsrepo.github.io/depictions/?p=com.dubsrepo.icons
Description: Adds Images to Sections
Maintainer: dubs <dubsrepo@outlook.com>
Name: icons
Package: com.dubsrepo.icons
Section: iWidgets
Version: 1.0.1
